page-add-feed {

    #formContainer{
        width: 100%;
        height: 100%;
        background: url(../assets/img/feedBg.jpg);
        background-position: center;
        background-size:cover;
        overflow: hidden;
        overflow-y: scroll;
        text-align: center;
    }

    .frmInput{
        width:100%;
        height: 50px;
        outline:none;
        border:none;
        border-bottom: 1px solid blue;
        padding: 0;
        font-size: 2rem;
        background: transparent;
        color: #fff;
    }

    #loadingContainer{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: #BADDC6;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .loadingImg{
        width: 80px !important;
    }

    ion-card{
        background: transparent !important;
        box-shadow: none !important;
    }

    .roundCameraBtn{
        width: 80px;
        height: 80px;
        border-radius:50%;
        background: color($colors,danger);
        font-size: 30px;
        color: #fff;
    }

    .roundBtnSubmit{
        width: 50px;
        height: 50px;
        border-radius:50%;
        background: color($colors,secondary);
        font-size: 30px;
        color: #fff;
    }



}
