<ion-header>
  <ion-navbar color="appcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Posts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <button ion-button block (click)="getUsers()">Get Users</button> -->

  <!-- <button ion-button block (click)="getUserFeeds()">Get User Feeds</button> -->

  <div class="photoList" *ngFor="let feed of feedsArray, let i = index">
    <div class="createrInfo">
      
      <div>
          <h3>{{feed?.feedTitle}}</h3>
          <p>{{feed?.updatedAt | amTimeAgo}}</p>
      </div>
    </div>
    <div class="photoImg">
      <img [src]="getImageBaseString(feed?.imgBaseString)" alt="">
    </div>
    <div class="photoActions" *ngIf="feed?.feedComment.length > 0">
        <button><ion-icon name="star"></ion-icon><div [innerHTML]="getStarAverage(feed)"></div></button>
        <button><ion-icon name="chatboxes" (click)="addComment()"></ion-icon> <div>{{feed?.feedComment.length}} Comment</div></button>
    </div>
  
    
  </div>

  <!-- <ion-card *ngFor="let feed of feedsArray, let i = index">
    
      <ion-item>
        <h2>{{feed?.feedTitle}}</h2>
        <p><time>{{feed?.updatedAt | amTimeAgo}}</time></p>
      </ion-item>
    
      <img [src]="getImageBaseString(feed?.imgBaseString)" class="cardClass" />
    
      <ion-card-content>
        <p>{{feed?.feedDescription}}.</p>
      </ion-card-content>
    
      <ion-row *ngIf="feed?.feedComment.length > 0">
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="star"></ion-icon>
            <div [innerHTML]="getStarAverage(feed)"></div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{feed?.feedComment.length}} Comment</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col> 
      </ion-row>
    
    </ion-card> -->

  <!-- <img src="{{feedsArray[0]?.imgBaseString}}" alt="" /> -->


  
</ion-content>


<!-- f2780b -->