<ion-header>
  <ion-navbar color="appcolor">

    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>My Profile</ion-title>


  </ion-navbar>
</ion-header>

<ion-content>
  <div class="myInfo">
    <div class="profilePicture">
        <button class="roundCameraBtn" (click)="getPicture()" [ngStyle]="{'background-image': 'url(' + imgAvatarString + ')'}">
            <ion-icon name="camera" class="cameraIcon" color="dark"></ion-icon>
        </button>
    </div>
    <div class="profileInfo">
      <h3>{{userData?.name}}</h3>
      <p>
        <ion-icon name="pin"></ion-icon>
        <span>{{userData?.location}}</span>
      </p>
      <p>
        <ion-icon name="image"></ion-icon>
        <span>{{feedsArray?.length}} Photos</span>
      </p>
    </div>
  </div>
  <h3 class="titleMyPhotos">
    My Photos
  </h3>
  <div class="photoList" *ngFor="let feed of feedsArray, let i = index">
    <div class="createrInfo"> 
      <div>
        <h3>{{feed?.feedTitle}}</h3>
      </div>
    </div>
    <div class="photoImg">
      <img [src]="getImageBaseString(feed?.imgBaseString)" alt="">
    </div>
    <div class="photoActions">
      <!-- *ngIf="feed?.feedComment.length > 0" -->
      <button>
        <ion-icon ios="md-star-outline" md="md-star-outline"></ion-icon>
        <span [innerHTML]="getStarAverage(feed)"></span>
      </button>
      <button>
        <ion-icon ios="ios-chatboxes-outline" md="ios-chatboxes-outline" (click)="addComment()"></ion-icon>
        <span>{{feed?.feedComment.length}}</span>
      </button>
      <button>
        <ion-icon ios="ios-clock-outline" md="ios-clock-outline"></ion-icon>
        <span>{{feed?.updatedAt | amTimeAgo}}</span>
      </button>
    </div>

  </div>



</ion-content>
